body{
	background: url(../images/gifreel.jpg);
}
.container {
	margin-top: 10px;
}

img {
	width: 100%;
}

button {
	margin: 20px 0px;
	text-align: center;
	border: none;
	background-color: #B2D0ED;
}

.col-md-2 {
	text-align: center;
}
.navbar-right{
	margin-right: 40px;
	color: blue;
	background-color: white;
	margin-top: -10px;
	margin-bottom: 10px;
}
strong{
	margin-top: 18px;
	margin-left: 20px;
}
h3{
	height: 0px;
	color: white;
}

footer {
	text-align: center;
	color:white;
	position: absolute;
}
