body{
	background: url(../images/gifreel3.jpg);
	background-repeat: none;
	background-size: 100%;
	position: relative;
	margin: 0;
	height: 100%;
}
.container{
	padding-bottom: 50px;	
	min-height: 100%;
	margin-bottom: 50px;
}
.head{
	margin-bottom: 40px;
}

.navbar {
	padding-top: 14px;
}
.title{
	font-family: 'Great Vibes', 'cursive';
	color: white;
	padding-left: 20px;
	padding-top: 13px;
	font-size: 30pt;
	letter-spacing: 3px;
	font-weight: bold;
	margin-right: 50%;
}
.footer{
	position: absolute;
	width: 100%;
	left: 0;
	margin-top: 50px;
	border-radius: 5px;
	padding-top: 15px;
	height: 60px;
	text-align: center;
	background-color: black;
	font-family: 'Raleway', 'sans-serif';
	
}
.row{
	font-family: 'Raleway', 'sans-serif';
}

#submit, #addCal, #back, #submitOne{

	zoom: 1;
    z-index: 1;
    font-family: Roboto,"Helvetica Neue",Helvetica,Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
    color: #000!important;
    font-weight: 300;
    line-height: 100%!important;
    background-color: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    font-size: 15px;
    text-decoration: none;
    padding: 13px 12px 12px 12px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-font-smoothing: antialiased!important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin-bottom: -30px;
    position: absolute;
    margin-left: 10px;
}

#calendarbutton {
	position: absolute;
	clear: both;
	/*margin-top: -500px;*/
}
#back {
	margin-bottom: 5px;
}
#buttonstyling {
    margin-left: 180px; 
    /*margin-top: 20px;*/

 }

 h3, h4, h5{
	font-family: 'Raleway', 'sans-serif';
}
.tabs-title>a{
	color: blue;
}
h3, .date-picker, .middle{
	color: blue;
}
h3 a {
	font-family: 'Great Vibes', 'cursive';
	font-size: 30pt;
	padding-left: 20px;
	letter-spacing: 3px;
	color: #337ab7;
}
.date-picker, .middle{
	font-weight: bolder;
}
.modal-theatre{
	font-family: 'Great Vibes', 'cursive';
	font-size: 30pt;
}
#userinput {
	background: white;
    padding: 30px;
    height: 300px;
    margin: 0 0 40px 0;
   	width: 500px;
    border: 1px solid #dddddd;
}

.column-row {
	padding-bottom: 50px;
	height: 50vh;
}

#bigImage {
	width: 100%;
}

h5 {
	font-weight: bolder;
	color: #2E35C2;
}

p {
	color: black;
}

button {
	margin-right: 10px;
}

#moviePoster {
	padding-right: 30px;
	width: 200px;
}

#poster {
	width: 100%;
}

.btn-warning {
	margin-bottom: 10px;
	padding-left: 10px;
}

.recoTab {
	text-align: center;
	padding-top: 10px;
}

h4 {
	color: blue;
}

#movieDescription {
	font-family: 'Raleway', 'sans-serif';
	color: #0311FF;
	font-size: 17px;
}

#actors{
	font-family: 'Raleway', 'sans-serif';
	color: #0311FF;
}

#production{
	color: #0311FF;
	font-family: 'Raleway', 'sans-serif';
}

#genre {
	font-family: 'Raleway', 'sans-serif';
	color: #0311FF;
}

#runtime{
	font-family: 'Raleway', 'sans-serif';
	color: #0311FF;
}

#movieName {
	color: #03074B;
}

.time {
	padding-top: 10px;
}