body{
	background: url(../images/gifreel3.jpg);
	background-repeat: none;
	background-size: 100%;
	position: relative;
	margin: 0;
	height: 100%;
}
.container{
	padding-bottom: 50px;	
	min-height: 100%;
	margin-bottom: 50px;
}
.head{
	margin-bottom: 40px;
}
.navbar-right{
	margin-right: 40px;
	color: blue;
	background-color: white;
	margin-top: -50px;
	margin-bottom: 20px;
	font-family: 'Raleway', 'sans-serif';
	border-radius: 10%;
}

.navbar {
	padding-top: 14px;
}
.title{
	font-family: 'Great Vibes', 'cursive';
	color: white;
	padding-left: 20px;
	padding-top: 13px;
	font-size: 30pt;
	letter-spacing: 3px;
	font-weight: bold;
	margin-right: 50%;
}
.footer{
	position: absolute;
	width: 100%;
	left: 0;
	margin-top: 50px;
	border-radius: 5px;
	padding-top: 15px;
	height: 60px;
	text-align: center;
	background-color: black;
	font-family: 'Raleway', 'sans-serif';
	
}
.row{
	font-family: 'Raleway', 'sans-serif';
}
#submit, #addCal, #back{
	color: blue;
	font-family: 'Raleway', 'sans-serif';
}
h3, h4, h5{
	font-family: 'Raleway', 'sans-serif';
}
.tabs-title>a{
	color: blue;
}
h3, .date-picker, .middle{
	color: blue;
}

h3 a {
	font-family: 'Great Vibes', 'cursive';
	font-size: 30pt;
	padding-left: 20px;
	letter-spacing: 3px;
	color: #337ab7;
}
.date-picker, .middle{
	font-weight: bolder;
}
.modal-theatre{
	font-family: 'Great Vibes', 'cursive';
	font-size: 30pt;
}
#userinput {
	background: white;
    padding: 30px;
    height: 300px;
    margin: 0 0 40px 0;
   	width: 500px;
    border: 1px solid #dddddd;
}

.column-row {
	padding-bottom: 50px;
	height: 100vh;
}

#bigImage {
	width: 100%;
}

h5 {
	font-weight: bolder;
	color: #2E35C2;
}

p {
	color: black;
}

button {
	margin-right: 10px;
}

#moviePoster {
	padding-right: 30px;
	width: 200px;
}

#poster {
	width: 100%;
}

.btn-warning {
	margin-bottom: 10px;
	padding-left: 10px;
}

.recoTab {
	text-align: center;
	padding-top: 10px;
}