.author{
	font-size: 12px;
	margin: 0 auto;
	text-align: center;
	max-width: 800px;
	padding-left: 210px;
	font-family: 'Raleway', 'sans-serif';
	color: white;
} 

#copyright{
	
	margin: 0 auto;
	text-align: center;
	max-width: 800px;
	padding-left: 250px;
	font-style: italic;
	font-size: 12px;
	font-family: 'Raleway', 'sans-serif';
	color: white;
}

div#review.author::before {content: ' Written By:  ';
}

#head{
	font-size: 24px;
	font-weight: bold;
	font-family: 'Raleway', 'sans-serif';
	font-style: italic;
	text-align: center;
	margin: 0 auto;	
	color: gold;
	max-width: 600px;
	padding-left: 220px;
}

#link{
	text-align: center;
	margin: 0 auto;
	max-width: 800px;
	padding-left: 230px;
	font-family: 'Raleway', 'sans-serif';	
}

#panel4{
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 10px 10px 5px #888888;
	background: url(../images/projector.png) no-repeat;
	background-size: 100%; 
}

#date{ 
    margin: 0 auto;
	text-align: center;
	max-width: 800px;
	padding-left: 210px;
    font-family: 'Raleway', 'sans-serif';
    color: white;
    font-size: 12px;
}

#review{
  unicode-bidi: bidi-override;
  direction: ltr;
}

#review > span:hover:before,
#review > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: gold;
}

#short{
	font-weight: bold;
	margin: 0 auto;
	text-align: center;
	font-family: 'Raleway', 'sans-serif';
	max-width: 700px;
	padding-left: 280px;
	font-style: italic;
	color: gold;
}

.stars{
	padding-left: 575px;
}
 
.stars,.stars1, .stars2, .stars3, .stars4, .stars5{
	font-size: 250%;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	max-width: 800px;	
} 





